header {
    display: flex;
    justify-content: end;
    align-items: center;
}

#logoutBtn {
    margin-left: 10px;
    height: 25px;
}

hr {
    width: 100%;
}

#calenderInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

#yearValue, #monthValue {
    font-size: 50px;
    font-weight: bold;
}

table {
    border: 2px solid rgb(142, 140, 140);
    border-collapse: collapse;
    margin: auto;
}

td {
    border: 2px solid rgb(142, 140, 140);
    width: 240px;
    height: 150px;
    vertical-align: top;
}

td a {
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

td a:hover {
    color: blue;
}