body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

div {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"]:focus {
    border-color: #007BFF;

}

hr {
    width: 100%
}

input[type="button"] {
    background-color: #215F9A;
    width: 50px;
    margin-left: auto;
}