body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
}
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-form {
    display: flex;
    flex-direction: column;
}
.login-form input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-form input:focus {
    border-color: #007BFF;
    outline: none;
}
.login-form a {
    color: #007BFF;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 10px;
}
.login-form a:hover {
    text-decoration: underline;
}
.login-form button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-form button:hover {
    background-color: #218838;
}